/*client/main.css*/

body {
  font-family: sans-serif;
  /*background-color: #315481;*/
  /*background-image: linear-gradient(to top, #315481, #918e82 100%);*/
  /*background-attachment: fixed;*/

  position: fixed;
  padding-bottom: 60px;
  top: 0;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100%;
  font-size: 14px;
}

.main-title-heading, .form-signin-heading {
  text-align: center;
}

.container {
  text-align: center;
  max-width: 600px;
}

.welcome {
  padding-top: 60px;
}
.messages {
  position: relative;
  padding-top: 60px;
  height: 100%;
}

ul.message-list {
  position: relative;
  padding: 0;
  margin: 0 0 10px 0;
  width: 100%;
}
ul.message-list:last-child {
  position: absolute;
  bottom: 0px;
}

li.message {
  list-style-type: none;
  text-align: left;
}

.panel-heading, .panel-body {
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  background-color: #f5f5f5;
}


